.navbar {
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    position: sticky;
    top: 0;
    z-index: 100;
    gap: 15px;
}

.navbar-top {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
}

.navbar-bottom {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
}